html, body {
  height: 100%;
  width: 100%;
background-image: url('background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0; 
}
h1{
  text-align: center;
  color:blueviolet;
  padding: 50px;
  font-family: 'Amatic SC', cursive;
  
}
#thoughts{
  border: 3px solid ye ;
  margin: 50px;
  background: pink;
}

button{
  text-align: center;
  height: 80px;
  width: 280px;
  color:rgb(6, 2, 20)
  
}
#but{
  font-size: 25px;
  color:burlywood;
}
